@{
    ViewData["Title"] = "Home Page";
}

<div class="border p-3 mt-4">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Zaposlenici</div>
  <div class="card-body">
    <h4 class="card-title"><a class="nav-link text-white" asp-area="" asp-controller="Employee" asp-action="Index">Popis zaposlenika</a></h4>
    <p class="card-text">Pregled zaposlenika i njihovih osnovnih podataka.</p>
  </div>
</div>
<div class="card bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Edukacije</div>
  <div class="card-body">
    <h4 class="card-title"><a class="nav-link" asp-area="" asp-controller="Education" asp-action="Index">Popis edukacija</a></h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Dark card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
