@using EmployeesManager.Model
@model Institute

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Unos novog Zavoda</h2>
            <hr />
        </div>
        <div>
        <div class="form-group">
                <label asp-for="NameShort" class="control-label"></label>
                <input asp-for="NameShort" class="form-control" />
                <span asp-validation-for="NameShort" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label asp-for="NameLong" class="control-label"></label>
                <input asp-for="NameLong" class="form-control" />
                <span asp-validation-for="NameLong" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label asp-for="HeadInstitute" class="control-label"></label>
                <input asp-for="HeadInstitute" class="form-control" />
                <span asp-validation-for="HeadInstitute" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label asp-for="ExpenseCode" class="control-label"></label>
                <input asp-for="ExpenseCode" class="form-control" />
                <span asp-validation-for="ExpenseCode" class="text-danger"></span>
        </div>
        @*<div class="form-group">
                <label asp-for="ClinicId" class="control-label"></label>
                <select asp-for="ClinicId" asp-items="Model.Clinics"></select>
                <span asp-validation-for="ExpenseCode" class="text-danger"></span>
        </div>*@
         <br />
         <div class="row pt-4">
             <div class="col-6">
                 <button type="submit" class="btn btn-primary">Kreiraj</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Institute" asp-action="Index" class="btn btn-secondary">Natrag na popis Zavoda</a>
            </div>
         </div>
         </div>
    </div>
</form>