@using EmployeesManager.Model
@using EmployeesManager.Web.Models
@model Employee

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Unos novog zaposlenika</h2>
            <hr />
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#home">Osnovni podaci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#address">Adresa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#contact">Kontakt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#healthcare">Praćenje zdravlja</a>
            </li>
        </ul>
        <hr />
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active show" id="home">
        <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label asp-for="OIB" class="control-label"></label>
                <input asp-for="OIB" class="form-control" />
                <span asp-validation-for="OIB" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label asp-for="MBO" class="control-label"></label>
                <input asp-for="MBO" class="form-control" />
                <span asp-validation-for="MBO" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
        </div>
        <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            </div>
            <div class="tab-pane fade" id="address">
                   <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class ="form-control" asp-items="ViewBag.AddressId" />
            </div>
            <div class="form-group">
                <label asp-for="StreetNumber" class="control-label"></label>
                <input asp-for="StreetNumber" class ="form-control" asp-items="ViewBag.AddressId"/>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class ="form-control" asp-items="ViewBag.AddressId"/>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class ="form-control" asp-items="ViewBag.AddressId"/>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class ="form-control" asp-items="ViewBag.AddressId"/>
            </div>
            </div>
            <div class="tab-pane fade" id="contact">
                   <div class="form-group">
                <label asp-for="BusinessEmail" class="control-label"></label>
                <input asp-for="BusinessEmail" class ="form-control" asp-items="ViewBag.ContactId"/>
            </div>
             <div class="form-group">
                <label asp-for="BusinessMobilePhone" class="control-label"></label>
                <input asp-for="BusinessMobilePhone" class ="form-control" asp-items="ViewBag.ContactId"/>
            </div>
             <div class="form-group">
                <label asp-for="BusinessTelephone" class="control-label"></label>
                <input asp-for="BusinessTelephone" class ="form-control" asp-items="ViewBag.ContactId"/>
            </div>
             <div class="form-group">
                <label asp-for="PrivateEmail" class="control-label"></label>
                <input asp-for="PrivateEmail" class ="form-control" asp-items="ViewBag.ContactId"/>
            </div>
            <div class="form-group">
                <label asp-for="PrivateMobilePhone" class="control-label"></label>
                <input asp-for="PrivateMobilePhone" class ="form-control" asp-items="ViewBag.ContactId"/>
            </div>
            </div>
            <div class="tab-pane fade" id="healthcare">
            
@*@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
*@
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<fieldset>
    <legend>Dodavanje podataka o praćenju zdravlja</legend>
    <table id="addItemTable" class="table table-bordered">
        <thead>
            <tr>
                <td>Naziv</td>
                <td>Vrijedi do</td>
                <td>Napomena</td>
                <td></td>
            </tr>
        </thead>

        <tr id="tablerow0">
            <td>
                <div class="editor-field">
                    <select name="HealthcareName[0]" class = "form-control" asp-items="Html.GetEnumSelectList<HealthcareName>()">
                        <option value="">[Unesite naziv]</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input type="date" name="ValidUntil[0]" class="form-control"/>
                </div>
            </td>
            <td>
                <div class="editor-field">
                    <input class="text-box single-line form-control" name="Remark[0]" type="text" value="" />
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-danger mx-2" onclick="removeTr(0);"><i class="bi bi-trash3-fill"></i> &nbsp Obriši zapis</button>
            </td>
        </tr>

    </table>
    <p>
        <button id="add" type="button" class="btn btn-primary">Dodaj zapis</button>
    </p>
    <hr />
</fieldset>
@*}*@
    
            </div>
            </div>
            <br />
         <div class="row pt-4">
             <div class="col-6">
                 <button type="submit" class="btn btn-primary">Kreiraj</button>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary">Natrag na popis zaposlenika</a>
            </div>
         </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        var counter = 1;
        $(function () {

            $('#add').click(function () {
                $('<tr id="tablerow' + counter + '"><td>' +
                    '<select name="HealthcareName[' + counter + ']" class = "form-control" asp-items="Html.GetEnumSelectList<HealthcareName>()"><option value="">[Unesite naziv]</option></select>' +
                    '</td>' +
                    '<td>' +
                    '<div><input type="date" class="text-box single-line form-control" name="ValidUntil[' + counter + ']"/></div>' + 
                    '</td>' +
                    '<td>' +
                    '<input type="text" class="text-box single-line form-control" name="Remark[' + counter + ']" value="" required="required" />' +
                    '</td>' +
                    '<td>' +
                    '<button type="button" class="btn btn-danger mx-2" onclick="removeTr(' + counter + ');"><i class="bi bi-trash3-fill"></i> &nbsp Obriši zapis</button>' +
                    '</td>' +
                    '</tr>').appendTo('#addItemTable');
                counter++;
                return false;
            });
        });
        function removeTr(index) {
            if (counter > 1) {
                $('#tablerow' + index).remove();
                counter--;
            }
            return false;
        }
    </script>
}